$light-color: var(--light-color, #F5F5F5);
$lightgray-color: var(--light-color, #bcccce);
$gray-color: var(--light-color, #49585A);
$dark-color: var(--dark-color, #02010A);
$accent-primary: var(--accent-primary, #3482D5);
$accent-primary-dark: var(--acent-primary-dark, #162E64);
$accent-secondary: var(--accent-secondary, #FF7C5C);


$icon-size: var(--icon-size, 32);

@mixin transition($elem){
  transition: $elem 200ms ease-in-out;
}

@mixin icon-route($iconName){
  mask-image: url("./src/components/fontawesome-icon/assets/icons/iconfinder_"+$iconName+".svg");
}


:host(icon-size)

.icon {
  display: inline-block;
  width: $icon-size+"px";
  height: $icon-size+"px";
  
  mask-size: cover;
  background: $dark-color;

  &:hover{
    background-color: $accent-primary;
  }
}

.star {
  background: $lightgray-color;
  border: inset 1px solid $gray-color;
  @include icon-route('star');
  @include transition(transform);

  &:hover{
    transform: scale(1.3);
    @include transition(transform);
    background-color: $accent-secondary !important;
  }

  &.selected{
    background-color: $accent-primary;
  }
}

.more{
  @include icon-route('more');
}

.info{
  @include icon-route('info');
}
